$border-style-light: 1px solid rgb(125, 125, 125);
$border-style-dark: 1px solid rgb(80, 80, 80);
$border-radius: 5px;

$text-color-light: rgb(238, 238, 238);
$text-color-dark: rgb(177, 177, 177);

$text-color-hover: rgb(245, 245, 245);
$text-color-selected: rgb(255, 255, 255);

$background-color-solid: rgb(30, 30, 30);
$background-color-semitransparent: rgba(30, 30, 30, 0.8);

$background-color-list-hover: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(70,70,70, 1.0), stop: 1 rgba(30,30,30, 1.0));
$background-color-list-selected: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(200,200,200, 0.8), stop: 1 rgba(120,120,120, 0.8));

$background-color-tab: rgba(50, 50, 50, 0.8);
$background-color-tab-selected: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0.2 rgb(34, 34, 34), stop:0.4 rgb(22, 22, 22), stop:1.0 rgb(16, 16, 16));
$background-color-tab-hover: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 rgb(54, 54, 54), stop:0.4 rgb(72, 72, 72), stop:0.2 rgb(82, 82, 82));

$background-color-header: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(20, 20, 20, 0.8), stop:0.5 rgba(40, 40, 40, 0.8), stop:0.7 rgba(30, 30, 30, 0.8), stop:1 rgba(10, 10, 10, 0.8));
$background-color-header-hover: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(60, 60, 60, 1.0), stop: 0.5 rgba(70, 70, 70, 1.0), stop: 0.6 rgba(80, 80, 80, 1.0), stop:1 rgba(40, 40, 40, 1.0));

$background-color-button: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(70, 70, 70), stop: 0.5 rgb(44, 44, 44), stop: 0.9 rgb(26, 26, 26), stop:1 rgb(30, 30, 30));
$background-color-button-hover: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(80, 80, 80), stop: 0.5 rgb(54, 54, 54), stop: 0.9 rgb(30, 30, 30), stop:1 rgb(26, 26, 26));
$background-color-button-pressed: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(34, 34, 34), stop: 0.5 rgb(42, 42, 42), stop: 0.9 rgb(66, 66, 66), stop:1 rgb(92, 92, 92));

$background-color-input: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(24, 24, 24), stop: 1 rgb(46, 46, 46));

$background-scrollbar: QLinearGradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(66, 66, 66), stop: 0.5 rgb(56, 56, 56), stop:1 rgb(56, 56, 56));
$background-scrollbar-line: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(50, 50, 50) stop:0.5 rgb(40, 40, 40), stop:1 rgb(70, 70, 70));
$background-scrollbar-line-hover: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(70, 70, 70) stop:0.5 rgb(60, 60, 60), stop:1 rgb(90, 90, 90));
$background-scrollbar-line-pressed: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90) stop:0.5 rgb(80, 80, 80), stop:1 rgb(110, 110, 110));

$background-progressbar: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(97, 97, 97, 1.0), stop: 0.5 rgba(80, 80, 80, 1.0), stop: 0.6 rgba(67, 67, 67, 1.0), stop:1 rgba(101, 101, 101, 1.0));
$background-progressbar-chunk: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 155, 30, 1.0), stop: 0.5 rgba(255, 145, 10, 1.0), stop: 0.6 rgba(255, 130, 0, 1.0), stop:1 rgba(255, 160, 40, 1.0));

QWidget
{
    color: $text-color-dark;
}

QWidget:item:hover
{
    color: $text-color-hover;
    background-color: $background-color-list-hover;
}

QWidget:item:selected
{
    color: $text-color-selected;
    background-color: $background-color-list-selected;
}

QWidget#AutoUpdater
{
    background-color: $background-color-solid;
}

QTabWidget::pane
{
    border: 0;
}

QMessageBox, QInputDialog, QMenu
{
    background-color: $background-color-solid;
}

QTreeWidget
{
    background-color: $background-color-semitransparent;
    border: $border-style-dark;
    border-radius: $border-radius;
}

QHeaderView
{
	background: rgba(0, 0, 0, 0);
}

QHeaderView::section
{
    background-color: $background-color-header;
    color: $text-color-dark;
    font-weight: bold;
    padding-left: 4px;
    padding-bottom: 2px;
    height: 16px;
    border: $border-style-light;
}

QHeaderView::section:hover
{
    background-color: $background-color-header-hover;
}

QHeaderView::up-arrow {
    image: url(:/resources/up-arrow.png);
    width: 25px;
    height: 25px;
}

QHeaderView::down-arrow {
    image: url(:/resources/down-arrow.png);
    width: 25px;
    height: 25px;
}

QGroupBox
{
    border: $border-style-dark;
    border-radius: $border-radius;
    font-size: 11px;
    font-weight: bold;
    background-color: $background-color-semitransparent;
    margin-top: 10px;
}

QGroupBox::title {
    color: $text-color-dark;
    font-weight: bold;
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 3px 6px;
    border: $border-style-dark;
    background-color: rgba(0, 0, 0, 0.5);
}

QLineEdit
{
    background-color: $background-color-input;
    padding: 1px;
    border: $border-style-dark;
    border-radius: $border-radius;
}

QLineEdit:focus
{
    border: $border-style-light;
}

QTabBar::tab {
    color: $text-color-dark;
    background-color: $background-color-tab;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
    border-top-right-radius: 3px;
}

QTabBar::tab:first:!selected
{
	margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */
    border-top-left-radius: 3px;
}

QTabBar::tab:!selected
{
    color: $text-color-dark;
    background-color: $background-color-tab-selected;
    border-bottom-style: solid;
    margin-top: 3px;
}

QTabBar::tab:selected
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $background-color-tab-hover;
}

QPushButton
{
    color: $text-color-dark;
    background-color: $background-color-button;
    border-radius: $border-radius;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

QPushButton:hover
{
	background-color: $background-color-button-hover;
	color: $text-color-hover;
}

QPushButton:pressed
{
    background-color: $background-color-button-pressed;
    color: $text-color-selected;
}

QScrollBar:horizontal
{
	background-color: $background-color-semitransparent;
	height: 14px;
	margin: 0px 20px;
}

QScrollBar:vertical
{
	background-color: $background-color-semitransparent;
	width: 14px;
	margin: 20px 0px;
}

QScrollBar::handle:horizontal, QScrollBar::handle:vertical
{
	background: $background-scrollbar;
	min-height: 20px;
	border: $border-style-light;
}

QScrollBar::handle:horizontal:hover, QScrollBar::handle:vertical:hover
{
	background: $background-scrollbar-line-hover;
}

QScrollBar::handle:horizontal:pressed, QScrollBar::handle:vertical:pressed
{
	background: $background-scrollbar-line-pressed;
}

QScrollBar::add-line:horizontal, QScrollBar::add-line:vertical
{
	background: $background-scrollbar-line;
	height: 20px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal, QScrollBar::sub-line:vertical
{
	background: $background-scrollbar-line;
	height: 20px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::add-line:hover, QScrollBar::add-line:hover,
QScrollBar::sub-line:hover, QScrollBar::sub-line:hover
{
	background-color: $background-scrollbar-line-hover;
}

QScrollBar::add-line:pressed, QScrollBar::add-line:pressed
QScrollBar::sub-line:pressed, QScrollBar::sub-line:pressed
{
    background-color: $background-scrollbar-line-pressed;
}

QScrollBar::up-arrow:vertical
{
	image: url(:/resources/up-arrow.png);
}

QScrollBar::down-arrow:vertical
{
	image: url(:/resources/down-arrow.png);
}

QScrollBar::left-arrow:horizontal
{
	image: url(:/Style/img/left_arrow.png);
}

QScrollBar::right-arrow:horizontal
{
	image: url(:/Style/img/right_arrow.png);
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
	background: none;
}

QProgressBar
{
    color: $text-color-light;
	background: $background-progressbar;
	border: $border-style-dark;
	text-align: center;
	font-weight: bold;
}

QProgressBar::chunk
{
	background: $background-progressbar-chunk;
	width: 1px;
}
